{# templates/emails/contact.html.twig #}
<h3>New message coming from Contact form page</h3>

Name : {{ name }}
Email : {{ email }}
Subject : {{ subject }}
Message : {{ message }}

Thanks!

{# Makes an absolute URL to the /images/logo.png file #}
<img src="{{ absolute_url(asset('images/logo.png')) }}">