<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>



        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="57x57" href="../assets/images/fav-icon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="../assets/images/fav-icon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="../assets/images/fav-icon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="../assets/images/fav-icon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="../assets/images/fav-icon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="../assets/images/fav-icon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="../assets/images/fav-icon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="../assets/images/fav-icon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="../assets/images/fav-icon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="../assets/images/fav-icon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../assets/images/fav-icon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="../assets/images/fav-icon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/fav-icon/favicon-16x16.png">


        {% block stylesheets %}
            <!-- Bootstrap CSS -->
            <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap/bootstrap.css" media="screen">


            <!-- Fonts -->
            <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500italic,500,700,700italic' rel='stylesheet' type='text/css'>
            <link href='https://fonts.googleapis.com/css?family=Raleway:400,500,300,600,700,800,900' rel='stylesheet' type='text/css'>
            <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic,800,300,300italic' rel='stylesheet' type='text/css'>
            <link href='https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

            <!-- Font Awesome -->
            <link rel="stylesheet" href="../assets/fonts/font-awesome/css/font-awesome.min.css">
            <!-- Stroke Gap Icon -->
            <link rel="stylesheet" href="../assets/fonts/stroke-gap/style.css">
            <!-- owl-carousel css -->
            <link rel="stylesheet" href="../assets/css/owl.carousel.css">
            <link rel="stylesheet" href="../assets/css/owl.theme.css">

            <!-- owl-carousel css -->
            <link rel="stylesheet" href="../assets/css/owl.carousel.css">
            <link rel="stylesheet" href="../assets/css/owl.theme.css">
            <!-- Custom Css -->
            <link rel="stylesheet" type="text/css" href="../assets/css/custom/style.css">
            <link rel="stylesheet" type="text/css" href="../assets/css/responsive/responsive.css">



            <!--[if lt IE 9]>
            <script src="../assets/js/html5shiv.js"></script>
            <![endif]-->

        {% endblock %}
    </head>
    <body class="home">
        {% include 'header.html.twig' %}
        {% include 'menu.html.twig' %}

        {% block body %}{% endblock %}

        {% include 'footer.html.twig' %}


        {% block javascripts %}
            <!-- Js File -->

            <!-- j Query -->
            <script type="text/javascript" src="../public/assets/js/jquery-2.1.4.js"></script>
            <script type="text/javascript" src="../public/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
            <script type="text/javascript" src="../public/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
            <script type="text/javascript" src="../public/assets/js/jquery.bxslider.min.js"></script>
            <script src="../public/assets/js/revolution-slider/jquery.themepunch.tools.min.js"></script> <!-- Revolution Slider Tools -->
            <script src="../public/assets/js/revolution-slider/jquery.themepunch.revolution.min.js"></script> <!-- Revolution Slider -->
            <script type="text/javascript" src="../public/assets/js/revolution-slider/extensions/revolution.extension.actions.min.js"></script>
            <script type="text/javascript" src="../public/assets/js/revolution-slider/extensions/revolution.extension.carousel.min.js"></script>
            <script type="text/javascript" src="../public/assets/js/revolution-slider/extensions/revolution.extension.kenburn.min.js"></script>
            <script type="text/javascript" src="../public/assets/js/revolution-slider/extensions/revolution.extension.layeranimation.min.js"></script>
            <script type="text/javascript" src="../public/assets/js/revolution-slider/extensions/revolution.extension.migration.min.js"></script>
            <script type="text/javascript" src="../public/assets/js/revolution-slider/extensions/revolution.extension.navigation.min.js"></script>
            <script type="text/javascript" src="../public/assets/js/revolution-slider/extensions/revolution.extension.parallax.min.js"></script>
            <script type="text/javascript" src="../public/assets/js/revolution-slider/extensions/revolution.extension.slideanims.min.js"></script>
            <script type="text/javascript" src="../public/assets/js/revolution-slider/extensions/revolution.extension.video.min.js"></script>

            <!-- Bootstrap JS -->
            <script type="text/javascript" src="../public/assets/js/bootstrap.min.js"></script>
            <script type="text/javascript" src="../public/assets/js/jquery.appear.js"></script>
            <script type="text/javascript" src="../public/assets/js/jquery.countTo.js"></script>
            <script type="text/javascript" src="../public/assets/js/jquery.fancybox.pack.js"></script>
            <!-- owl-carousel -->
            <script type="text/javascript" src="../public/assets/js/owl.carousel.js"></script>
            <script src="../public/assets/js/owl-custom.js"></script>
            <!-- Custom & Vendor js -->
            <script type="text/javascript" src="../public/assets/js/custom.js"></script>
        {% endblock %}
    </body>
</html>
