<!-- ============= Footer ================ -->
<footer>
    <div class="top_footer container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 part1">
                    <a href=""><img src="../assets/images/logo-footer.png" alt="Logo"></a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna ali qua. </p>
                    <p><i class="fa fa-phone"></i>&nbsp;&nbsp; 1800 - 254 - 9874</p>
                    <p>contact@mefinance.com</p>
                    <ul class="p0">
                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                        <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                        <li><a href=""><i class="fa fa-skype"></i></a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-12 part2">
                    <h5>Our Services</h5>
                    <ul class="p0">
                        <li><a href=""><i class="fa fa-angle-right"></i>&nbsp;&nbsp;Investment Planning</a></li>
                        <li><a href=""><i class="fa fa-angle-right"></i>&nbsp;&nbsp;Retairment Planning</a></li>
                        <li><a href=""><i class="fa fa-angle-right"></i>&nbsp;&nbsp;Mutial Funds</a></li>
                        <li><a href=""><i class="fa fa-angle-right"></i>&nbsp;&nbsp;Saving & Investments</a></li>
                        <li><a href=""><i class="fa fa-angle-right"></i>&nbsp;&nbsp;Tax Advisory Service</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 part3">
                    <h5>Twitter Feeds</h5>
                    <div class="twitter"></div>
                </div>
                <div class="col-lg-3 col-md-2 col-sm-12 part4">
                    <h5>Flickr Widget</h5>
                    <div class="gallery">
                        <img src="../assets/images/f-1.jpg" alt="image">
                        <img src="../assets/images/f-2.jpg" alt="image">
                        <img src="../assets/images/f-3.jpg" alt="image">
                        <img src="../assets/images/f-4.jpg" alt="image">
                        <img src="../assets/images/f-5.jpg" alt="image">
                        <img src="../assets/images/f-6.jpg" alt="image">
                    </div>
                </div>
            </div> <!-- End row -->
        </div>
    </div> <!-- End top_footer -->
    <div class="bottom_footer container-fluid">
        <div class="container">
            <p class="float_left">Copyright &copy; MeFinance 2015. All rights reserved. </p>
            <p class="float_right">Created by: DesignArc</p>
        </div>
    </div> <!-- End bottom_footer -->
</footer>
<!-- ============= /Footer =============== -->