<!-- =======Header ======= -->
<header>
    <div class="container-fluid top_header">
        <div class="container">
            <p class="float_left">Welcome to Me Financial Services, we have over 12 years of expertise</p>
            <div class="float_right">
                <ul>
                    <li><a href=""><i class="fa fa-facebook"></i></a></li>
                    <li><a href=""><i class="fa fa-twitter"></i></a></li>
                    <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                    <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                    <li>
                        <div  id="search_box">
                            <input id="search" type="text" placeholder="Search here">
                            <button id="button" type="submit"><span class="icon icon-Search"></span></button>
                        </div>
                    </li>
                </ul>
            </div>
        </div> <!-- end container -->
    </div><!-- end top_header -->
    <div class="bottom_header top-bar-gradient">
        <div class="container clear_fix">
            <div class="float_left logo">
                <a href="index.html">
                    <img src="../assets/images/logo.png" alt="Me Finance">
                </a>
            </div>
            <div class="float_right address">
                <div class="top-info">
                    <div class="icon-box">
                        <span class=" icon icon-Pointer"></span>
                    </div>
                    <div class="content-box">
                        <p> 13005 Greenville Avenue <br><span>California, TX 70240</span></p>
                    </div>
                </div>
                <div class="top-info">
                    <div class="icon-box">
                        <span class="separator icon icon-Phone2"></span>
                    </div>
                    <div class="content-box">
                        <p>+ (1800) 456 7890 <br><span>info@mefinance.com</span></p>
                    </div>
                </div>
                <div class="top-info">
                    <div class="icon-box">
                        <span class="separator icon icon-Timer"></span>
                    </div>
                    <div class="content-box">
                        <p>Mon - Sat 9.00 - 19.00 <br><span>Sunday Closed</span></p>
                    </div>
                </div>
            </div>
        </div> <!-- end container -->
    </div> <!-- end bottom_header -->
</header> <!-- end header -->
<!-- ======= /Header ======= -->