{% block menu %}
    <!-- ======= mainmenu-area section ======= -->
    <section class="mainmenu-area stricky">
        <div class="container">
            <nav class="clearfix">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header clearfix">
                    <button type="button" class="navbar-toggle collapsed">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="fa fa-th fa-2x"></span>
                    </button>
                </div>
                <div class="nav_main_list custom-scroll-bar pull-left" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav" id="hover_slip">
                        <li><a href="index.html">Home</a></li>
                        <li class="arrow_down"><a href="about.html">About Us</a>
                            <div class="sub-menu">
                                <ul>
                                    <li><a href="advisor.html">Advisor</a></li>
                                    <li><a href="single-advisor.html">Single Advisor</a></li>
                                    <li><a href="career.html">Career</a></li>
                                    <li><a href="testimonial.html">Testimonaials</a></li>
                                    <li><a href="partners.html">partners</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="arrow_down"><a href="service.html">Services</a>
                            <div class="sub-menu">
                                <ul>
                                    <li><a href="service2.html">Service Two</a></li>
                                    <li><a href="pricing-page.html">Pricing Page</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="arrow_down" ><a href="#">Pages</a>
                            <div class="sub-menu">
                                <ul>
                                    <li><a href="404.html">404 Page</a></li>
                                    <li><a href="no-search-results.html">No Search Result</a></li>
                                    <li><a href="search-results.html">Search Results</a></li>
                                    <li><a href="faq.html">FAQ</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="arrow_down" ><a href="portfolio.html">Projects</a>
                            <div class="sub-menu">
                                <ul>
                                    <li><a href="portfolio.html">Portfolio One</a></li>
                                    <li><a href="portfolio2.html">Portfolio Two</a></li>
                                    <li><a href="portfolio3.html">Portfolio Three</a></li>
                                    <li><a href="portfolio4.html">Portfolio Four</a></li>
                                    <li><a href="portfolio5.html">Portfolio Five</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="arrow_down" ><a href="blog-leftside-bar.html">Blogs</a>
                            <div class="sub-menu">
                                <ul>
                                    <li><a href="blog-leftside-bar.html">Blog Left Bar</a></li>
                                    <li><a href="blog-rightside-bar.html">Blog Right Bar</a></li>
                                    <li><a href="blog-single-column.html">T H E M E L O C K . C O M</a></li>
                                    <li><a href="blog-two-column.html">Blog Two Col</a></li>
                                    <li><a href="blog-details.html">Blog Details</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="arrow_down" ><a href="shop-page.html">Shop</a>
                            <div class="sub-menu">
                                <ul>
                                    <li><a href="product-details.html">Product Details</a></li>
                                    <li><a href="cart-page.html">Cart Page</a></li>
                                    <li><a href="checkout-page.html">Checkout Page</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a class="contact" href="contact-us.html">Contact Us</a></li>
                    </ul>
                </div>
                <div class="find-advisor pull-right">
                    <a href="advisor.html" class="advisor ">Find Advisor</a>
                </div>
            </nav> <!-- End Nav -->
        </div> <!-- End Container -->
    </section>
    <!-- ======= /mainmenu-area section ======= -->
{% endblock %}